body {
	margin: 0;
	padding: 0;
	
	font-family: Helvetica, Arial, Verdana;
	background-color: #fff;
}

a {
	color: #2fa6e9;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;	
}

header {
	display: block;
	
	padding: 0px;
	color: #333;
	border-bottom: 1px solid #eee;
	
	margin-top: 100px;
	margin-bottom: 40px;
	
	width: 680px;
}

h1 {
	margin: 0;
	padding: 10px;
	
	font-weight: normal;
	text-shadow: 1px 1px #ddd;
}

h3 {
	margin: 0;
	padding: 0;
	
	margin-bottom: 10px;	
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	position: relative;
}

#sidebar {
	position: absolute;
	top: 0;
	right: 0px;
	width: 240px;
}

#sidebar h3 {
	color: #333;
	border: 0;
	padding: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;	
	
	font-size: 1.0em;
}

#sidebar ul {
	list-style-type: square;
	color: #555;	
	font-size: 0.9em;
	
	margin: 0;
	padding: 0;
	margin-left: 20px;
	margin-bottom: 20px;
}

#sidebar form {
	margin-bottom: 20px;	
}

#sidebar form input[type="search"] {
	width: 190px;
	padding: 15px;
	margin-right: 10px;
}

#sidebar form input[type="submit"] {
	width: 30px;
}

#sidebar ul li {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
}

#footer {
	width: 680px;
	text-align: right;
	color: #333;
	font-style: italic;
	font-size: 0.9em;
	
	border: 0;
	border-top: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 100px;
}

#posts {
	margin-top: 20px;
	width: 680px;
	
	font-size: 0.9em;
}

section.nf-post {
	display: block;
	margin-bottom: 30px;
	width: 100%;
}

.nf-post {
	font-family: 'Lucida Grande', Verdana, 'Bitstream Vera Sans', Arial, sans-serif;
	font-size: 12px;
	line-height: 22px;
	
	color: #333;
}

.nf-post h1 {
	margin: 0;
	padding: 0;
	
	font-size: 1.6em;
}

.nf-post h2 {
	font-size: 1.2em;	
}

.nf-post a {
	color: #2fa6e9;
	text-decoration: none;	
}

.nf-post a:hover {
	text-decoration: underline;	
}

.nf-post img {
	max-width: 680px;
}

.nf-post-image img {
	border: 5px solid black;
}

.nf-post-date {
	display: inline-block;
	
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	
	background-color: #f2f2ea;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;	
	
	font-style: italic;
}

#sidebar ul.tag-list {
	margin-left: 0px;
}

ul.tag-list li {
	display: inline-block;
}

ul.tag-list li a {
	display: inline-block;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	
	color: #2fa6e9;
	
	text-decoration: none;
	-webkit-border-radius: 5px;
}

ul.tag-list li a:hover {
	background-color: #2fa6e9;
	color: white;	
}