body {
	margin: 0;
	padding: 0;
	
	font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 12px;
}

/*
 *	UNIVERSAL
 *	(layout)	
 *
 */

section.ninesixty {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
	position: relative;
}

/*
 *	HEADER
 *	(layout)	
 *
 */

header {
	color: #888;
	background-color: #2f2f2f;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#343434), color-stop(0.5, #3c3c3c), color-stop(0.5, #2f2f2f));
	background: -moz-linear-gradient(top, #444, #3c3c3c 50%, #2f2f2f 50%, #343434);
	
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eee));
	
	border-bottom: 2px solid #ddd;
	
	height: 115px;
}

header h1 {
	position: absolute;
	top: 50px;
	left: 20px;
	margin: 0;
	padding: 0;
	
	color: #000;
	font-size: 20px;
}

header h1 a {
	display: block;
	color: #000;	
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: underline;
}

header h2 {
	position: absolute;
	top: 20px;
	left: 20px;
	
	color: #bbb;
	text-decoration: none;
	font-size: 10px;
	
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

header section nav {
	
	position: absolute;
	top: 0;
	right: 0px;
	
	display: inline;
}

header nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	border-top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e4e4e4));
	
	margin-right: 15px;
	letter-spacing: -0.1em;
	
	z-index: 5;
}

header nav ul li {
	display: inline-block;
	color: #58c;
	padding-top: 10px;
	padding-bottom: 10px;
	
	position: relative;
}

header nav ul li img {
	position: absolute;
	top: 8px;
	left: 6px;
	height: 16px;
	width: 16px;
	border: 1px solid white;
}

header nav ul li.my-name a {
	color: black;
	padding-left: 28px;	
}

header nav ul li a {
	display: block;
	color: inherit;	
	text-decoration: none;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
	
	text-shadow: #fff 0 1px 1px;
	
	border-right: 1px solid #ddd;
}

header nav ul li:last-child a {
	border-right: 0;
}

header nav ul li a:hover {
	text-decoration: underline;	
}

/*
 *	QUICK LINKS
 */
 
header nav ul.quicklinks {
	border: 1px solid #d8d8dd;
	border-bottom: 1px solid #c7c7cc;
	border-top: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f9), to(#dddde4));
	
	z-index: 10;
}

header nav ul.quicklinks li.more {
	display: none;
}

header nav ul.quicklinks li a {
	border-right: 1px solid #d8d8dd;
}

header nav ul.quicklinks li a#quicklinks-more:hover ul {
	border: 1px solid blue;
}

header nav ul.quicklinks li:last-child a {
	border-right: 0;	
}

/*
 *
 *	UI ELEMENTS
 *
 */

.visible-button {
	border: 0;
	display: inline-block;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: white;
	text-shadow: #866318 0px 1px 0px;
	text-shadow: #936d1a 1px 1px 0px;
	
	background-color: #FBB917;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBB917), to(#c99118));
	background: -moz-linear-gradient(top, #FBB917, #c99118);
	border: 1px solid #e2a518;
	
	/*	
	background-color: #FBB917;
	background: -webkit-gradient(linear, left top, left bottom, from(#00c42e), to(#008720));
	background: -moz-linear-gradient(top, #FBB917, #C68E17);
	*/
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	font-size: 12px;
	cursor: pointer;
}

.visible-button:hover {
	border: 1px solid #c99118;
}

.visible-button:active {
	background-color: #C68E17;
	background: -webkit-gradient(linear, left top, left bottom, from(#C68E17), to(#FBB917));
	background: -moz-linear-gradient(top, #C68E17, #FBB917);
}

/*
 *	MAIN BODY
 *	(layout)
 *
 */

section.adminbody {
	
	padding-bottom: 20px;
	margin-top: -30px;
	margin-bottom: 20px;
	
	background: url(fadebg.png) top left no-repeat;
}

section.adminbody h3 {
	margin: 8px;
	padding: 20px;
	
	margin-bottom: 0;
	padding-bottom: 0;
	
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #bbb;
}

section.adminbody section.frame {
	display: inline-block;
	padding: 20px;
	padding-top: 0px;
	width: 920px;
	clear: both;
	overflow:hidden;
	
	background:transparent;
	border: 0;
}

section.adminbody section.frame ul.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;	
	
	width: 160px;
	
	padding: 5px;
	margin-top: 20px;
	
	min-height: 240px;
	border-right: 1px solid #eee;
	margin-right: 20px;
	
	float:left;
}

section.adminbody section.frame ul.sidebar li {
	margin-bottom: 10px;
}

section.adminbody section.frame ul.sidebar li a,
section.adminbody section.frame ul.sidebar li a span.text {
	font-weight: bold;
	letter-spacing: -0.1em;
	color: #88d;
	text-decoration: none;	
}

section.adminbody section.frame ul.sidebar a span.text {
	display: inline-block;
	width: 110px;
	overflow: hidden;
}

section.adminbody section.frame ul.sidebar a span.number {
	font-weight: normal;
	letter-spacing: 0em;
	display: inline-block;
	width: 24px;
	text-align: center;
	overflow: hidden;
}

section.adminbody section.frame ul.sidebar a:hover span.text {
	text-decoration: underline;	
}

section.adminbody section.frame ul.sidebar a:hover span.number {
	background-color: #666;
	color: #fff;
}

section.adminbody section.frame ul.sidebar span.number {
	background-color: #eee;
	color: #333;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;	
	-webkit-border-radius: 8px;
}

section.adminbody section.frame section.content {	
	display: inline-block;
	clear:both;
	overflow:hidden;
	
	margin-top: 10px;
}

section.adminbody section.frame section.sidebar {
	width: 720px;
}

#admin-body p {
	margin: 10px;	
}

#admin-body #posts-top-controls {
	width: 900px;
	margin: 20px;
	margin-top: 30px;
}

	#admin-body #posts-top-controls p {
		display: inline;	
	}

	#admin-body #posts-top-controls #searchbar {
		width: 200px;
	}

	#admin-body #posts-top-controls #filter-posts {
		text-transform: uppercase;
		letter-spacing: 0.2em;
		font-size: 0.8em;
		color: #666;
		float: right;
	}
	
	#admin-body #posts-top-controls #filter-posts input {
		padding: 3px;
		padding-left: 10px;
		border: 1px solid #999;
		
		-moz-border-radius: 15px;
		
		background-color: white;
		background: -moz-linear-gradient(top, #ddd, #fff);
	}

.home-thumb {
	float: left;
	width: 320px;	
	border: 2px solid #efefef;
	background-color: #fff;
	padding: 10px;
	margin: 8px;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.home-thumb-title {
	display: block;
	margin-bottom: 2px;
	width: 100%;
	padding: 10px;
	font-weight: bold;
	margin-top: -10px;
	margin-left: -10px;
	margin-bottom: 10px;
	color: white;
	
	background-color: black;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#343434), color-stop(0.5, #3c3c3c), color-stop(0.5, #2f2f2f));		background: -moz-linear-gradient(top, #444, #3c3c3c 50%, #2f2f2f 50%, #343434);
	
	-webkit-border-radius: 3px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	
	-moz-border-radius: 3px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

footer {
	color: #999;
	text-align: center;
	
	padding-bottom: 30px;
}

footer section {
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

footer a {
	color: #333;
	text-decoration: none;
}

footer a:hover {
	color: #E8A317;
	text-decoration: underline;
}

/* ---------------------------------------------------- */

.post-listing {
	font-size: 12px;
	border-spacing: 0;
	width: 900px;
	margin-left: 20px;
	
	margin-top: 20px;
}

.post-listing thead th {
	padding: 10px;
	padding-left: 5px;
	padding-right: 0;
	text-align: left;
	border-top: 2px solid #FFA500;
	border-bottom: 2px solid #FFA500;
	color: #FFA500;
}

.post-listing tbody tr:hover td {
	background-color: #FEFFF1;	
}

.post-listing tbody td {
	padding-left: 5px;
	padding-right: 0;
	
	border-bottom: 1px solid #FCF6CF;
	color: #888;
}

.post-listing thead th:first-child {
	padding-left: 10px;	
}

.post-listing tbody td:first-child {
	padding: 0;	
}

.post-listing .post-title a {
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	color: #333;	
}

.post-listing .post-title a:hover {
	text-decoration: none;
	color: #000;	
}

.post-listing tbody td.post-title span {
	text-align: center;
	display: inline-block;
	background-color: orange;
	color: white;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.8em;
	margin-right: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.post-listing tbody td.post-date {
	width: 160px;
}

.post-listing tbody td.post-buttons a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-listing tbody td.post-buttons a:hover {
	background-color: #FBB917;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBB917), to(#C68E17));
	background: -moz-linear-gradient(top, #FBB917, #C68E17);
	color: white;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.post-listing tbody td.post-buttons a:active {
	background-color: #C68E17;
	background: -webkit-gradient(linear, left top, left bottom, from(#C68E17), to(#FBB917));
	background: -moz-linear-gradient(top, #C68E17, #FBB917);

}

.post-listing tbody #info-row td {
	padding: 10px;
	text-align: center;
	font-weight: bold;
	display: none;
}

/*
 * New Post 
 */
 
form#new-post-form {
	display: block;
	margin: 0;
	padding: 0;
	
	margin-top: 15px;
}

form#new-post-form #post-title {
	display: block;
	margin: 0;
	padding: 0;
}
 
#new-post-type {
	position: absolute;
	top: 20px;
	right: 80px;
	
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e4e4e4));
	-webkit-border-radius: 5px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #bbb;
}

#new-post-type li {
	padding-right: 5px;
	border-right: 1px solid #ccc;	
}

#new-post-type li:last-child {
	border-right: 0;
}

#new-post-type li {
	display: inline;	
}

#new-post-type li:first-child {
	margin-left: 5px;
}

#new-post-type li a {
	display: inline-block;
	padding: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	color: #888;
}

#new-post-type li.tab-selected a {	
	font-weight: bold;
	color: #000;
}

form#new-post-form .data-container {
	display: block;	
}

form#new-post-form h4.caption {
	letter-spacing: -0.1em;
	font-size: 1.0em;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	
	width: 64px;
}

form#new-post-form input[type="text"] {
	display: inline-block;
	padding: 10px;
	font-size: 1.2em;
	width: 400px;
	margin-bottom: 20px;	
	
	border: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
	background: -moz-linear-gradient(top, #fbfbfb, #fff);
}
 
textarea#new-post {
	width: 910px;
	height: 320px;
	
	border: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
	background: -moz-linear-gradient(top, #fbfbfb, #fff);
}

#markdownpreview {
	margin-top: 30px;
	width: 910px;
	border: 1px solid #eee;
	padding: 5px;
}

form#new-post-form #edit-post-button-bar {
	display: block;
	padding: 10px;
	margin-top: 10px;
	text-align: right;	
}